.section {
    grid-template: 7fr 1fr 1fr;
    grid-template-areas:
        '1'
        '2'
        '3';
}

.sign__up {
    grid-area: 2;
}

.sign__in {
    grid-area: 3;
}



/* .main{
    perspective: 1000px;
}

.front,
.back {
    transition: 1s;
    backface-visibility: hidden;
}

.front {
    background-color: #fff;
  }
  
.back {
    background-color: black;
    transform: rotateY(180deg);
}

.main:hover  .front{
    transform: rotateY(180deg);
}

.main:hover  .back{
    transform: rotateY(360deg);
} */