.section {
    grid-template: 2fr 1fr 1fr/ 1fr;
    grid-template-areas:
        '1'
        '2'
        '3';
}

.sign__in {
    /* align-self: baseline; */
    grid-area: 2;
}

.sign__up {
    /* align-self: baseline; */
    grid-area: 3;
}