body {
  margin: 0;
  padding: 0;
}

.wrapper {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template: 1fr 8fr 1fr / 1fr;
  grid-template-areas:
    'header'
    'main'
    'footer';
  font-family: 'Roboto', sans-serif;
  background-color: #fd8743;
}

.header {
  background-color: #e64a19;
  grid-area: header;
  display: grid;
  grid-template:
    'text buttons' 1fr / 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.header__text {
  font-size: 40px;
  grid-area: text;
}

.header__button {
  grid-area: buttons;
  display: flex;
  justify-content: center;
  width: 100%;
}

.header__button_sign-in,
.header__button_sign-up {
  margin-right: 5px;
  margin-left: 5px;
}

.footer {
  background-color: #e64a19;
  /* background-color: rgba(207, 207, 207, 0.787); */
  grid-area: footer;
  text-align: center;
  display: grid;
  justify-items: center;
  align-items: center;
  box-shadow: 5px 5px 20px -5px rgba(0, 0, 0, 0.80);
}

.main {
  /* background-color: white; */
  display: grid;
  grid-template-areas:
    '. . .'
    '. section .'
    '. . .';
  box-shadow: inset 5px 5px 10px -5px rgba(0, 0, 0, 0.80);
  justify-content: center;
}

.section {
  width: 300px;
  background-color: rgba(161, 73, 57, 0.734);
  box-shadow: 5px 5px 20px -5px rgba(0, 0, 0, 0.80);
  grid-area: section;
  display: grid;
  justify-items: center;
  align-items: center;
  border-radius: 5px;
  transition: all 0.3s;
  /* transition: all 0.3s; */
  /* grid-gap: 10px; */
}

.text {
  color: rgb(255, 255, 255);
  /* text-shadow:
    -0 -1px 3px #FFFFFF,
    0 -1px 3px #FFFFFF,
    -0 1px 3px #FFFFFF,
    0 1px 3px #FFFFFF,
    -1px -0 3px #FFFFFF,
    1px -0 3px #FFFFFF,
    -1px 0 3px #FFFFFF,
    1px 0 3px #FFFFFF,
    -1px -1px 3px #FFFFFF,
    1px -1px 3px #FFFFFF,
    -1px 1px 3px #FFFFFF,
    1px 1px 3px #FFFFFF,
    -1px -1px 3px #FFFFFF,
    1px -1px 3px #FFFFFF,
    -1px 1px 3px #FFFFFF,
    1px 1px 3px #FFFFFF; */
}

.button {
  background-color: #795548;
  padding: 10px;
  border: 2px solid white;
  border-radius: 20px;
  color: white;
  font-size: 20px;
  min-width: 108px;
  text-align: center;
  box-shadow: 5px 5px 20px -5px rgba(0, 0, 0, 0.80);
  transition: 0.3s ease;
}

.button:hover {
  background-color: rgba(71, 47, 43, 0.979);
  transform: scale(1.05);
}

a {
  text-decoration: none;
  outline: none;
}

.text:hover {
  cursor: default;
}

.info{
  width: 100%;
  grid-area: 1;
  display: grid;
  grid-template: 
      '1'
      '2';
  justify-items: center;
  align-items: center;
  grid-gap: 10px;
}

.info__h {
  font-size: 24px;
}

.info__child {
  width: 80%;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  background-color: #fd8743;
  border-radius: 5px;
  padding: 5px;
  box-shadow: inset 5px 5px 15px -5px rgba(0, 0, 0, 0.80);
  /* border: 1px solid black; */
}

.change__user {
  align-self: baseline;
}

.form{
  grid-area: 1;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-gap: 5px;
}

.form__h {
  font-size: 24px;
}